In [ ]:
numbers = [1,2,3,4,10]

print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])
print(numbers[4])

#teker teker yazmak istediğimizde bu şekilde uzun sürecek

1
2
3
4
10

In [ ]:
numbers2 = [1,2,3,4,30]

for num in numbers2:
    print(num)

   
for num in numbers2:
    print("hello")

1
2
3
4
30
hello
hello
hello
hello
hello

In [12]:
names = ["mehmet", "emin" , "yıldız"]

for name in names:
    print(f"my name is {name}")

my name is mehmet
my name is emin
my name is yıldız

In [13]:
name = "Mehmet Emin"

for n in name:
    print(n)

M
e
h
m
e
t

E
m
i
n

In [20]:
tuple = (1,2,3,4,5)

for t in tuple:
    print(t)

tuple2 = [(1,2),(3,4),(5,6)]

for t in tuple2:
    print(t)

tuple2 = [(1,2),(3,4),(5,6)]

for a,b in tuple2:
    print(b)

1
2
3
4
5
(1, 2)
(3, 4)
(5, 6)
2
4
6

In [24]:
d = {"k1":1,"k2":2,"k3":3}

for a in d.items():    #.items()  
    print(a)

('k1', 1)
('k2', 2)
('k3', 3)